<app-navbar></app-navbar>
<app-second-section></app-second-section>
<div class="container-fluid mt-2">
  <div class="row justify-content-center w-100" *ngFor="let mydata of data[0]">
    <div class="col-lg-4">
      <div class="container">
        <div class="card mt-2 w-100" >
          <img src="{{ mydata.HeaderImage }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-black">{{ mydata.Title }}</p><br>
            <p class="card-text">{{ mydata.Introduction }}</p><br>
            <p class="card-text">{{ mydata.LastMod | date }}</p><br>
            <p class="card-text">{{ mydata.categorie }}</p>
          </div>
        </div>
      </div>
  </div>
</div>
<app-first-section></app-first-section>
<app-footer></app-footer>



