<div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-12" data-cues="slideInDown" data-group="page-title">
        <h1 class="text-black">Crafting project specific solutions with expertise.</h1>
        <p class="text-black">We’re a creative company that focuses on establishing long-term relationships with customers.</p>
        <div class="d-flex justify-content-center justify-content-lg-start" data-cues="slideInDown" data-group="page-title-buttons" data-delay="900">
          <span><a href="#" class="btn btn-lg btn-white rounded-pill me-2">Explore Now</a></span>
          <span><a href="#" class="btn btn-lg btn-outline-white rounded-pill">Contact Us</a></span>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid mt-2 wrapper image-wrapper bg-image bg-overlay bg-overlay-400 bg-content">
  <div class="row">
    <div class="col-4">
      <img src="./assets/img/photos/about21.jpg" srcset="./assets/img/photos/about21@2x.jpg 2x" class="rounded" alt="" style="width:100%; height:auto">
    </div>
    <div class="col-4">
      <img src="./assets/img/photos/about22.jpg" srcset="./assets/img/photos/about22@2x.jpg 2x" class="rounded" alt="" style="width:100%; height:auto">
    </div>
    <div class="col-4">
      <img src="./assets/img/photos/about23.jpg" srcset="./assets/img/photos/about23@2x.jpg 2x" class="rounded" alt="" style="width:100%; height:auto">   </div>
  </div>
</div>
